.Todo--app {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.task--input{
    width: 80%;
    border:1px solid black;
    border-radius: 50px;
    overflow: hidden;

}

.task--input button{
    width:10%;
    height: 50px;
    background-color: yellow;
    border: none;


    border-left: 1px solid #6b6b6b;
    cursor: pointer;
}

.task--input input {
    width:90%;
    height: 50px;
    border: none;
    padding: 10px 15px;

}

.task--input input:focus-visible{
    outline: none;
}

.err-msg{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.task--list{
    height: 80vh;
    overflow: scroll;
    width:60%;
}

.task--list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.task--list ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #8a8a8a;
    width: 100%;
}

.task--list ul li:last-child {
    border-bottom: none;
}

.task--list ul li p{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.task--list ul li p::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.task--list ul li p::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 5px; /* Updated border-radius */
}

.task--list ul li .row1 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.task--list ul li .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.task--list ul li h3 {
    margin: 0;
}

.task--list ul li h4 {
    margin: 0;
}

.task--list ul li #time-ele{
    margin: 0;
}

.task--list ul li #done-btn{
    background-color: white;
    border-radius: 20px;
    width:30px;
    height: 30px;
    cursor: pointer;
}

.task--list ul li #done-btn:active{
    background-color: black;
}

.task--list ul li #remove-btn{
    background-color: unset;
    border:unset;
    box-shadow: unset;
    color:red;
    cursor: pointer;
}



