*{
    box-sizing: border-box;
}

.App{
    height: 100vh;
}

header{
    height:10vh;
    border-bottom: 1px solid #eee;
    display: flex !important;
    justify-content: space-between;
    gap:20px;
    padding: 10px 20px;
}

header .App-logo{
    height: 100%;
    
    margin: 0;
    padding: 0;
}


.ProgressBar{

    height: 60%;
    background-color: #eee;
    width: 100%;    
    position: relative;
    border: 2px solid #000;
    border-radius: 100px;
    overflow: hidden;
    margin:  auto 0;
}

.progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffbb00;
    width: 80%;
    transition: width 0.5s ease-in-out;
}

main{
    margin:20px 10px;
}